body{
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color:#282D35;
  background-image:url("../components/images/reactjs-icon\ 2.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  
}
.header{
  text-align: center;
  background-color:#21222A;
  padding-bottom:20px;
}
.nav{
  display: flex;
  align-items: center;
  padding-top: 31px;
  padding-left: 26px;
}
.imageHeader{
  width: 29px;
  height: 29px;
}
.paragraphHeader{
  margin-left: 5px;
  font-weight: 700;
  color: #61DAFB;
  letter-spacing: -5%;
  line-height: 100%;
  font-size: 22px;
}

main{
  margin-left: 15px;
}

.mainHeader{
  color: #FFFF;
  font-weight: 700;
  padding-left: 27px;
  padding-top: 50px;
  font-size: 40px;
}

li,ul{
  color: white;
  margin:20px;
}

li::marker{
  color: #61DAFB;
  font-size: 1.5rem;
}